.news{
    flex: 1 200px;
    padding:0 0rem;
    margin: 0rem 0.1rem;
    border-radius: 4px;
    border:1px solid grey;
    box-shadow: 1px 3px 4px rgba(black,0.8);
    position: relative;

    &__image-main{
        height: 7rem;
        width:15rem;

    }

    &__heading{
        font-size: small;
        font-weight: 100;
        word-wrap: normal;
        
        
        &-text{
            text-overflow: ellipsis;
            
        }
    }

    &__source{
        position: absolute;
        bottom:0;

    }




}